*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teachers", sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  // Background
  background: radial-gradient(
    circle at 10.6% 23.3%,
    rgb(186, 162, 252) 0%,
    rgb(176, 248, 242) 72.4%
  );
}

// Grid of 6x6 of 70px each
.game-grid {
  box-sizing: content-box;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #33333332;
  height: calc(6 * 70px);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(6, 70px);
  grid-template-rows: repeat(6, 70px);
  gap: 1px;

  .box {
    display: grid;
    place-items: center;
    border-radius: 0.5rem;

    img {
      height: 100%;
      width: 100%;

      // Add glowing effect
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.34));
    }
  }
}

.score-board {
  border: 10px;
  width: calc(6 * 70px); // match with grid
  height: 6rem;
  border-radius: 1rem;
  background: #eee;

  // Centering
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: #333;
  font-weight: 200;

  // Inner shadow
  background: #ffffff;
  box-shadow: inset -20px 20px 60px #d9d9d9, inset 20px -20px 60px #ffffff;
}

/* === Media Query === */
// Tablet
@media screen and (max-width: 768px) {
  .game-grid {
    height: calc(6 * 60px);
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
  }
  .score-board {
    width: calc(6 * 60px);
    font-size: 1.8rem;
    height: 5rem;
  }
}

// Mobile
@media screen and (max-width: 480px) {
  .game-grid {
    height: calc(6 * 50px);
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
  }
  .score-board {
    width: calc(6 * 50px);
    font-size: 1rem;
    height: 4rem;
  }
}
